/* Import Google Font - Poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); */
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: "Bitter", serif; */
      font-size: 18px;
  }
  * {
    box-sizing: border-box;
  }
  *::before, *::after {
    box-sizing: border-box;
  }

  body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body:before {
    content: '';
    background: #f7f7f7 url('../img/bacGraund.jpg') repeat center fixed;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
  ::selection{
    color: #fff;
    background: #5256AD;
    
  }
 

  .wraperAllToll{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
  }

  

  .wrapper{
    width: 700px;
    padding: 9px 30px;
    border-radius: 7px;
    background: #ebeaea;
    margin-top: 2px;
    min-height: 630px;
    margin-bottom: 20px;
    animation: 1s swashIn ease;
    box-shadow: 10px 10px 20px 5px rgb(0 0 0 / 20%), -10px -10px 20px 5px rgb(77 71 100 / 40%), -1px -1px 4px 2px rgb(77 71 100 / 40%);
  }
  :focus {
    outline: none;
  }

  :focus-visible {
    outline: none;
  }
  @keyframes swashIn {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(0, 0);
    }
    90% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(0.9, 0.9);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
    }
  }

  .upButton{
    position: fixed;
    right: 139px;
    bottom:50px;
    animation: 3s tinRightIn ease;
  }
  @keyframes tinRightIn {
    0% {
      opacity: 0;
      transform: scale(1, 1) translateX(900%);
    }
    50%, 70% {
      opacity: 1;
      transform: scale(1.1, 1.1) translateX(0);
    }
    60%, 80%, 100% {
      opacity: 1;
      transform: scale(1, 1) translateX(0);
    }
  }

  .gridAct{
    grid-template-columns: repeat(3,1fr);
  }
  .buttonHolderStatic{
  margin: 0;
    width: 301px;
    height: 14px;
  }

 


 .stateBtn {
    height: 7vw;
    width: 7vw;
    min-width: 80px;
    min-height: 80px;
    background: var(--gray);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 30%), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgb(204 198 197 / 50%);
    transition: all .1s linear;
    border-width: 0;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.5);
    letter-spacing: 0.05em;
    cursor: pointer;
     
    } 

    


:root {
  --gray: #e0e5ec;
  --size: 25vw;
  --scalingFactor: calc(100 / 25); /*related to size*/
}
  
 .trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 7vw;
  width: 7vw;
  margin: 10px;
  background: var(--gray);
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.dot{
  position: absolute;
  height: 7vw;
  width: 7vw;
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  left: 46px;
  top: 303px;
  pointer-events: none;
  z-index: -100;
}
.trigger {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
  cursor: pointer;
}
.trigger:before {
  content:'click me'
}
.trigger:before {
  content: 'reset'
}

.dot {
  animation-name: wave;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.dot {
  opacity: 1;
  transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
}
.dot:nth-of-type(2) {
  z-index: 1;
  animation-delay: .5s;
}
.dot:nth-of-type(3) {
  z-index: 2;
  animation-delay: 1s;
}

@keyframes wave{
  0% {
    opacity: 1;
    transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
  }  
  100% {
    opacity: 0;
    transform: translate3d(-50%,-50%,0) scale3d(var(--scalingFactor),var(--scalingFactor),1);
  }
}


     .stateBtn:after{
			color:#e9e6e4;
			display: block;
			font-size: 30px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
			position: absolute;
			width: 30px;
		}

		.crossBut:after{
			content: "✔";
      font-size: 46px;
		}

	
		.crossBut:hover:after{
			color:#12e3e6;
			text-shadow:0px 0px 6px #12e3e6;
		}

		

		.button:active, .stateBtn:active{
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}

		.button:active:after{
			color:#dbd2d2;
			text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
		}


.wrapperTutle{
  width: 700px;
  padding: 25px 30px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0,0,0,0.05);
  margin-top: 2px;
  text-align: center;
  box-shadow: 10px 10px 20px 5px rgb(0 0 0 / 20%), -10px -10px 20px 5px rgb(77 71 100 / 40%), -1px -1px 4px 2px rgb(77 71 100 / 40%);
  z-index: 1;
}
.pps {
  position: absolute;
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;

  transition:  all 12s;
}
.relev {
  position: relative;
}
@keyframes example {
  from {top: 74px;}
  to {top: 0px;}
} 


.bord {
  position: fixed;
  left: 5px;
  top: 6px;
  animation-duration: 2s;
  animation-name: swashIn;
}


.swashIn {
  animation-name: swashIn;
}
@keyframes swashIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  /* 90% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(0.9, 0.9);
  } */
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}

.staet{
  position: fixed;
  right: 123px;
  top: 141px;   
  z-index: 9999;
}


.holeOut {
  animation-duration: 2s;
  animation-name: holeOut;
  transition:  all 1s;
  /* display: none; */
  animation-fill-mode: forwards;
}
@keyframes holeOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1) rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0) rotateY(180deg);
  }
}



form .row{
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}
form .row label{
  font-size: 18px;
  margin-bottom: 5px;
}
form .row:nth-child(2) label{
  font-size: 17px;
}
form :where(textarea, select){
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

form .row textarea::-webkit-scrollbar{
  width: 0px;
}
#textQuesion {
  /* border: 5px solid darkblue; */
  min-height: 1em;
  width: 640px;
  margin: 10px 0px;
}
.textSe {
  display: flex;
  /* resize: none; */
  height: 110px;
}
.lasss{
  width: 100%; 
  resize: vertical;
  padding: 3px 3px 7px 15px;
  font-size: 17px;
  border-radius: 25px;
  box-sizing: border-box;
  height: 335px;
  border: none;
  color: #383858;
  font-size: 19px;
  background: #ffffff;
  box-shadow: inset 5px 5px 8px 1px rgb(0 0 0 / 20%), inset -5px -5px 8px 0px rgb(77 71 100 / 30%), inset 0px 2px 2px 0px rgb(77 71 100 / 40%);
  transition: all 0.4s ease-in-out;

}
.textSe {
  margin: 12px 0;
}
.textOler{
  font-size: 17px;
  padding: 15px 5px 15px 5px;
}
.quesionNum{
  position: static;
  top: -15px;
}
.textSe[contenteditable="true"] {
  padding: 10px;
  outline: 3px auto #CCC;
}
.textSe[contenteditable="true"]:hover {
  outline: 3px auto #2B8BAD;
}
.btn-remove {
  width: 100px;
  height: 30px;
  border-radius: 12px;
}
.start-stop {
  left: 73;
 
}
.pause {
  left: 76;
}


.btn{
  position: relative; 
  cursor: pointer;
  border: 2px solid #ff7675;
  overflow: hidden;
  border-radius: 45px;
  letter-spacing: 3px;
  font-weight: 600;
  background: white;
}


.btn:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
} 


.wrap-button{
  display: flex;
  /* top: -20px; */
  position: relative;
  flex-direction: row;
  align-content: inherit;
  flex-wrap: wrap;
  margin: 14px 0px;
  align-items: center;
  justify-content: space-between;
  /* min-height: 172px; */
}

.hideModal {
  display: none;
}
/* .showModal {
  display: block;
  z-index: 999999999999;
} */
.data-atribut {
  transition: 1.5s all;
}
.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}
.modals_forms {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, 0.6);
}


.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}


.audio {
  height: 20px;
  width: 270px;
}
.quesion{
  position: static;
  top: -54px;
}

.btnDeactiv {
  opacity: 0.2;
} 
/* icon */
.icon{
  width: 23px;
  pointer-events: none;
}

.iconActive{
  width: 23px;
  border-radius: 20px;
  background-color: #ff0f0f33;
  animation: pulse 2s infinite;
  /* transition: all 12s  cubic-bezier(1, 1.01, 1, 1); */
}

@keyframes pulse  {
0% {
  box-shadow: 0 0 0 0 rgb(255 0 0 / 85%);
}
70% {
  box-shadow: 0 0 0 20px rgb(204 169 44 / 0%);
}
100% {
  box-shadow: 0 0 0 0 rgb(204 169 44 / 0%);
}
}
.respons{
  margin: 0 auto;
}

.bacg {
  background-color: red;
  transition: all 3s;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 6px;

  background-color: #cecece;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 6px;
  border-radius: 15px;
  box-shadow: -4px -3px 20px 0px rgb(48 46 54 / 24%), 1px 1px 5px 1px rgb(48 46 54 / 31%), -6px -6px 15px 3px rgb(77 71 100 / 5%), -1px -1px 2px 1px rgb(77 71 100 / 0%);
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  /* padding: 0 18px; */
  background-color: white;
  max-height: 0;
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



.fab {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: nowrap;
}
.fabSegment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: stretch;
  flex-wrap: nowrap;
}

.fab:hover .fab-buttons {
  opacity: 1;
  visibility: visible;
}
.alerot {
  opacity: 1;
  visibility: visible;
}

.fab:hover .fab-buttons__link {
  transform: scaleY(1) scaleX(1) translateY(-16px) translateX(0px);
}

.fab-action-button:hover + .fab-buttons .fab-buttons__link:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
}


.fab-buttons {

  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.fab-buttons_Segment {

  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.fab-action-button__icon {
  /* display: inline-block; */
  width: 56px;
  height: 56px;
  background-image:
    url(../icon/check-fill.svg);
 
}

.fab-buttons__item {
  display: block;
  text-align: center;
  margin: 26px 0;
  height: 20px;
}

.fab-buttons__item_Segment {
  display: block;
  text-align: center;
  margin: 26px 0;
  height: 20px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #f16665;
}

.fab-buttons__link {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  transition: .3s;
}
.fab-buttons__link_segment {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transform: scaleY(0.5) scaleX(0.5) translateY(0px) translateX(0px);
  transition: .3s;
}
.alerot {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
  transition-delay: 0.3s;
} 
[data-tooltip]:before {
  top: 50%;
  margin-top: -11px;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(data-tooltip);
  font-size: 12px;
  text-decoration: none;
  visibility: hidden;
  opacity: 0;
  padding: 4px 7px;
  margin-right: 12px;
  position: absolute;
  transform: scale(0);
  right: 100%;
  white-space: nowrap;
  transform-origin: top right;
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transform-origin: right center 0;
}

.tinRightOut {
  animation: 1s spaceOutRight ease;
  /* animation: 2s tinRightOut cubic-bezier(0.25, 0.1, 1, -0.04);; */
  animation-name: spaceOutRight;
}
@keyframes rotateRight {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: perspective(800px) rotateY(0deg) translate3d(0px);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 0;
    transform: perspective(800px) rotateY(180deg) translateZ(150px);
  }
}
@keyframes spaceOutRight {
  0% {
    opacity: 1;
    transform-origin: 100% 50%;
    transform: scale(1) translate(0%, 0%);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 50%;
    transform: scale(0.2) translate(200%, 0%);
  }
}


.icon-material {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon-material_fb {

  background: url("../icon/microLost.svg") center no-repeat;
  background-size: 28px;

}

.icon-material_Pulsev {
  animation: pulse 2s infinite;
  animation-name: pulse;
  border-radius: 39px;
}

.icon-material_gp {
  background: url("../icon/todo_list.svg") center no-repeat;
  background-size: 17px;
}

.icon-material_tw {
  background: url("../icon/finger_hand_5531.png") center no-repeat;
  background-size: 22px;
}
.icon-material_Wher {
  background: url("../icon/serch.png") center no-repeat;
  background-size: 22px;
}

.icon-material_tw_NonStop {
  background: url("../icon/finger_hand_NonStop.png") center no-repeat;
  background-size: 22px;
}

.icon-material_li {
 
  background: url("../icon/sound_icon.svg") center no-repeat;
  background-size: 17px;
}
.icon-material_li_mute {

  background: url("../icon/sound_speaker_mute.svg") center no-repeat;
  background-size: 30px;
}

/* bg */

.classFakeBody{
  height: 100%;
  margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}
permacanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} 

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  position: fixed;
  z-index: -10;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to top, #1f061c 20%, #27273c 80%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 animation-name: move_wave;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
  animation-name: move_wave;
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
  animation-name: move_wave;
}

.clssserls {
  position: fixed;
  top: 0px;
  z-index: -32;

}




/* Оболочка */
.switch {
width: 70px; /* Ширина */
height: 70px; /* Высота */
position: relative; /* Относительное позиционирование, для абсолютного позиционирования других элементов */
cursor: pointer; /* Курсор в виде ладошки */
}
/* Внутренний круг */


/* Наружный круг */
.circ {
position: absolute; /* Позиционируем абсолютно относительно оболочки по центру внутреннего */
top: 0;
left: 0;
width: 82px; /* Ширина */
height: 82px; /* Высота */
border-radius: 50%; /* Делаем круг */
background: linear-gradient(#ccc, #fff);
background: -webkit-linear-gradient(#ccc, #fff); /* Фоновый цвет - линейный градиент */
box-shadow: /* многослойная внутренняя тень */
inset 0 2px 1px hsl(0, 0%, 75%),
inset 0 -2px hsl(0, 0%, 75%);
}
/* Индикатор - псевдоэлемент */
.switch  {
content: "";
position: absolute; /* Позиционируем абсолютно по центру */
left: 40%;
top: 40%;
width: 20%; /* Ширина */
height: 20%; /* Высота */
border-radius: 50%; /* Делаем круг */
background: radial-gradient(#fff, #333);
background: -webkit-radial-gradient(#fff, #333); /* Фоновый цвет - радиальный градиент */
}
/* Эффект при нажатии */
.switch:active {
content: "";
background: radial-gradient(#fff, #02A829);
background: -webkit-radial-gradient(#fff, #02A829); /* Меняем цвет индикатора */
}
.switch:active {
background: radial-gradient(#fff, #ccc);
background: -webkit-radial-gradient(#fff, #ccc); /* Меняем фоновый цвет внутреннего круга */
width: 69px; /* Уменьшаем ширину внутреннего круга */
height: 69px; /* Уменьшаем высоту внутреннего круга */
}
.textActiveLevel{
  color: #ff7675;
  text-shadow: 0px 0px 6px #ff7675;
}

/* @media(max-width: 570px){
  .wrapper{
    max-width: 345px;
    width: 100%;
  }
} */

.burger-menu_button {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: -5px -5px 20px #ffffffc4, 5px 5px 20px #babecc;
  transition: 0.4s;
}

.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #ff7675;
  transition: 0.4s;
  pointer-events: none;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu_lines::before {
  content: '';
  top: -12px;
}

.burger-menu_lines::after {
  content: '';
  top: 12px;
}

.opal {
  background-color: rgb(255 255 255 / 0%);
}













.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
  font-family: 'fontello';
  src: url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('https://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  /* speak: none; */
}

/* .icon-home:after     { content: "\2601"; }  */
/* .icon-cog:after      { content: "\265F"; }  */
/* .icon-cw:after       { content: "\265C"; }  */
/* .icon-cw:after       { content: "\27f3"; }  */
/* .icon-location:after { content: "\265B"; }  */





.nav {
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 199;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}
/* .button{

} */
.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7; 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  font-size: 23px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a:before {
  content: url(../img/s.svg);
  content: '';
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  /* box-shadow: inset 0px 8px 48px #ddd; */
  background: conic-gradient(aqua, #12e3e6  var(--pie-p, 0%), whitesmoke 0);
  --pie-b: 1em;
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--pie-b)),#000 calc(100% - var(--pie-b)));
  mask: radial-gradient(farthest-side,#0000 calc(99% - var(--pie-b)),#000 calc(100% - var(--pie-b)));
}

.nav a:active {
  box-shadow: none;
  border: solid 1px #a7a7a7;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}​
 





.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #f3f3f3;
  overflow-y: auto;
  right: 100%;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 18px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #BB1E99;
  border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.11);
}


.ion-md-settings {
  width: 56px;
  height: 56px;
  /* background-image:
    url(../icon/check-fill.svg); */
    background-image: url("../icon/setings.png");
    background-size: 26px;
    background-position: center;
    pointer-events: none;
    background-repeat: no-repeat;
}
/* .ion-md-settings:before{} */

@media screen and (max-width: 575px) {
  .wrap-button{
    display: flex;
    top: -20px;
    position: relative;
    flex-direction: row;
    align-content: inherit;
    flex-wrap: wrap;
    margin: 14px 0px;
    align-items: center;
    justify-content: space-between;
    min-height: 172px;
  }
  
  .burger-menu_button {
    display: block;
  }
  .wrapperTutle{
    width: 343px;
  }
  .wrapper {
    /* min-width: 340px; */
    padding: 9px 30px;
    max-width: 345px;
    width: 100%;
    animation:none;
    animation-name: swashIn;
  }
  .upButton {
    animation-name: tinRightIn;
  }
  .vanishIn {
    animation-name: foolishIn;
  }
  .iconActive{
    animation-name: pulse;
  }

  .pause{
    left: 16px;
  }
  .start-stop {
    left: 15px;
  }
  .btn-remove {
    /* left: 14px; */
    /* width: 60px;
    height: 30px; */
    border-radius: 12px;
  }
  .btn{
    margin: 28px 24px 0px 0px;
  }
  select:focus, input:focus {
    font-size: 16px;
  }
  .btn {
    position: static;
  }
  
 
  
  .blassel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-column-gap: 8px;
    grid-row-gap: 8px; */
    }
    .tet{
      margin: 90px 0;
    }
    #textQuesion {
      padding: 10px 0 ;
      width: 285px;
    }
    .respons {
      margin: 0 auto 29px 0;
  }
    /* .l1 { grid-area: 1 / 1 / 2 / 2; }
    .l2 { grid-area: 1 / 2 / 2 / 3; }
    .l3 { grid-area: 2 / 1 / 3 / 2; } */
    /* .div4 { grid-area: 2 / 2 / 3 / 3; } */
  .btn {
    margin: 27px 0px 0px 0px;
  }
  .icon-material {
    pointer-events: none;
  }

  /* pointer-events: none; */

} 


.modal {
  /* display: none; */
  position: fixed;
  z-index: 300;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9); 
}

.hideModal { 
  display: none;
}
.showModal {
  display: block;
  z-index: 999999999999;
}
.downloadedBtn {
  position: fixed;
  /* bottom: 31px; */
  /* top: 0px; */
  right: 11px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 15px 0;
}
#caption {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 50px;
}
.modal_content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  /* max-height: 647px; */
  /* max-width: 700px; */
  margin-top: 55px;
}
.clouse {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.modal_slid_contnt {
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%); 
  width: 335px;
  height: 200px;
  background-color: #fff;
  padding: 30px;
  border-radius: 27px;
}
#inputFile {
  display: none;
  cursor: pointer;
}
#ifads {
  text-decoration: none;
}

.btnFile {
  color: #000000;
  position: relative;
  border-radius: 99px;
  border: 1px solid #12e3e6;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
  cursor: pointer;
  margin-right: 1rem;
}

.btnFile.primary {
  background: #12e3e6;
  color: #fff;
}

.btnFile:active {
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* .btnFile:hover {
  cursor: pointer;
  opacity: 0.8;
} */



.vanishIn {
  animation: 1s foolishIn ease;
}
@keyframes foolishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0) rotate(360deg);
  }
  20% {
    opacity: 1;
    transform-origin: 0% 100%;
    transform: scale(0.5, 0.5) rotate(0deg);
  }
  40% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scale(0.5, 0.5) rotate(0deg);
  }
  60% {
    opacity: 1;
    transform-origin: 0%;
    transform: scale(0.5, 0.5) rotate(0deg);
  }
  80% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scale(0.5, 0.5) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1) rotate(0deg);
  }
}
.segment {
  padding: 32px 0;
  text-align: center;
  position: fixed;
  right: 7%;
  top: 0;
  z-index: 999999999999999999;
}


button {
  color: #61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #ffffffc4, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}
button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}
/* button .icon {
  margin-right: 8px;
} */
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  border:none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
button.unit .icon {
  margin-right: 0;
}
button.red {
  display: block;
  width: 100%;
  color: #AE1100;
}

.hide {
  display: none;
}

